{% extends '@SimpleUser/base.html.twig' %}

{% block title %}{{ 'Password reset'|trans() }}{% endblock%}

{% block body %}
    {% if form is defined %}
        {% include '@SimpleUser/PasswordReset/_formAskNewPasswordResetLink.html.twig' with {'form': form } %}
        {% include '@SimpleUser/_link.html.twig' with {
            'isAllowRegistration': isAllowRegistration,
            'isAllowLogin': isAllowLogin
        } %}
    {% endif %}
    {% if user is defined %}
        <p>Please check you mail. We send you link for recovery your password!</p>
    {% endif %}
{% endblock  %}