<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>{{ 'Login'|trans() }}</title>
</head>
<body>
{% block simple_user_login %}
    {% include '@SimpleUser/Security/login_form.html.twig' with {'form': form, 'error': error} %}
{% endblock simple_user_login %}
</body>
</html>